<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>

		<div class="about content layout">
			<h1 class="about-title">About Us</h1>
			<div class="about-us-content">
				<div class="para">
					<p>Welcome to Infinicco!</p>
					<p>
						Its a simple blogging site created by noob_dev (aka mz10ah)
						for fun :)) (well not really, I wanted to learn Nodejs so I
						created this)
					</p>
					<p>
						Feel free to type in your life story in here (inappropriate
						content will be removed).
					</p>
				</div>
				<div class="para">
					<h3>So what's up with the name "Infinicco"?</h3>
					<p>
						Good question! So discord is filled with amazing and
						fascinating people. One smart guy from a server called EMG
						decided to mix up my name with cappuccino (don't ask me why, I
						don't know what cappuccino is till this day :> ). So they
						nicknamed me 'Infinicco' in EMG for quite a long time.
					</p>
					<p>
						I am not a very creative person so I decided to use this newly
						created "nickname" for my blogging site.
					</p>
					<p>And nope, I definitely did not steal it.</p>
				</div>
			</div>
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
