<!DOCTYPE html>
<html lang="en">
   <%- include('./partials/head.ejs') %>
   <body>
      <%- include('./partials/nav.ejs') %>

      <div class="about content layout">
         <h2>About Us</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
            facilis pariatur necessitatibus beatae aut nihil ex velit
            perspiciatis ad voluptatum.
         </p>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
            facilis pariatur necessitatibus beatae aut nihil ex velit
            perspiciatis ad voluptatum.
         </p>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
            facilis pariatur necessitatibus beatae aut nihil ex velit
            perspiciatis ad voluptatum.
         </p>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
            facilis pariatur necessitatibus beatae aut nihil ex velit
            perspiciatis ad voluptatum.
         </p>
      </div>
      <%- include('./partials/footer.ejs') %>
   </body>
</html>
