<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Infinicinnio | <%= title %></title>
   </head>
   <body>
      <nav>
         <div class="set-title">
            <a href="/"><h1>Infinicinnio</h1></a>
            <p>A Blog Site</p>
         </div>
         <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
         </ul>
      </nav>

      <div class="create-blog content">
         <form>
            <div class="title-div">
               <label for="title">Blog title: </label>
               <input type="text" name="title" id="title" required />
            </div>
            <div class="snippet-div">
               <label for="snippet">Blog snippet:</label>
               <input type="text" id="snippet" name="snippet" required />
            </div>
            <div class="body-div">
               <label for="body">Blog body:</label>
               <textarea name="body" id="blog-body" required></textarea>
            </div>
            <div class="submit-div">
               <input type="submit" name="submit" value="Submit" />
            </div>
         </form>
      </div>
   </body>
</html>
