<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>

		<div class="create-blog content layout">
			<form action="/blogs" method="POST">
				<div class="title-div form-section">
					<label for="title">Blog title: </label>
					<input type="text" name="title" id="title" required />
				</div>
				<div class="snippet-div form-section">
					<label for="snippet">Blog snippet:</label>
					<input type="text" id="snippet" name="snippet" required />
				</div>
				<div class="body-div form-section">
					<label for="body">Blog body:</label>
					<textarea name="body" id="blog-body" required></textarea>
				</div>
				<div class="submit-div form-section">
					<input type="submit" name="submit" value="Submit" />
				</div>
			</form>
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
