:root {
	--form-input-top-margin: 8px;
	--form-width: 22rem;
}

.create-blog {
	display: flex;
	justify-content: center;
}

.create-blog .form-section {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.create-blog .form-section input[type='text'] {
	padding: 8px 10px;
	margin-top: var(--form-input-top-margin);
	width: var(--form-width);
}

.create-blog .form-section textarea {
	margin-top: var(--form-input-top-margin);
	max-width: var(--form-width);
	min-width: var(--form-width);
	height: 7rem;
	padding: 8px 10px;
	font-family: var(--primary-font-family);
}

.create-blog .form-section input[type='submit'] {
	padding: 12px 10px;
	max-width: 10rem;
	margin-top: 10px;
	background-color: var(--primary-color);
	color: var(--white-color);
	border: none;
}

.create-blog .form-section input[type='submit']:hover {
	cursor: pointer;
	background-color: var(--primary-hover-color);
}

@media screen and (max-width: 425px) {
	:root {
		--form-width: 18rem;
	}
}
