* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #dddddd;
   font-family: sans-serif;
}

.layout {
   margin: 0 150px;
}

/* 404 error page */
.not-found {
   color: red;
}
