:root {
	--primary-color: #0f4c75;
	--white-color: #fff;
	--secondary-color: #1b262c;
	--tertiary-color: #bbe1fa;
	--red-color: #cc0000;
	--primary-hover-color: #0d4469;
	--primary-font-family: sans-serif;
	--black-color: #1e1e1e;
	--grey-color: #4a4a4a;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #dddddd;
	font-family: var(--primary-font-family);
}

.layout {
	margin: 0 150px;
}

p {
	font-size: 1.1rem;
	white-space: normal;
}

/* 404 error page */
.not-found {
	color: var(--red-color);
}

/* small laptop screen */
@media screen and (max-width: 1024px) {
	.layout {
		margin: 0 80px;
	}
}

@media screen and (max-width: 768px) {
	.layout {
		margin: 0 40px;
	}
}

@media screen and (max-width: 425px) {
	.layout {
		margin: 0 15px;
	}

	p {
		font-size: 1rem;
	}
}
