.content {
   margin-top: 40px;
}

.content .blogs {
   margin-top: 30px;
}

.content .blog {
   margin-top: 10px;
}

.content .no-blog-p {
   margin-top: 15px;
   color: var(--red-color);
   font-weight: bold;
}
