.single-blog {
	margin-top: 30px;
	color: var(--black-color);
}

.single-blog .title {
	color: var(--primary-color);
}

.single-blog .snippet {
	color: var(--grey-color);
	margin-top: 3px;
}

.single-blog .body {
	margin-top: 20px;
	color: var(--black-color);
}
